- name: Install packages
  sudo: True
  apt: pkg={{ item }} state=present
  with_items:
      - "ctags"
      - "git"

- name: Dotfiles
  template: src={{ item }} dest="{{ user.home }}/.{{ item }}"
  with_items:
      - ctags
      - gitignoreglobal

- name: Set git global ignore
  command: git config --global core.excludesfile ~/.gitignoreglobal

- name: Set git global username
  command: git config --global user.name {{ user.fullname }}

- name: Set git global email
  command: git config --global user.email {{ user.github.email }}

