- hosts: raspberry
  gather_facts: False
  roles:
      - { role: shell, tags: [shell] }
      - { role: dev, tags: [dev] }
      - { role: mail, tags: [mail] }
      - { role: desktop, tags: [desktop] }
  handlers:
      - include: roles/desktop/handlers/main.yml

  vars_files:
      - "vars/main.yml"
      - "vars/secure.yml"

- hosts: remote
  gather_facts: False
  roles:
      - { role: shell, tags: [shell] }
  vars_files:
      - "vars/main.yml"
