- name: Install packages
  sudo: True
  apt: pkg={{ item }} state=present
  with_items:
      - "awesome"
      - "xserver-xephyr"

- name: Clone awmtt (awesome debugging tool)
  git: repo=https://github.com/mikar/awmtt.git dest="{{ user.src }}/mikar/awmtt" update=no
 
- name: Install awmtt
  sudo: True
  command: creates=/usr/local/bin/awmtt cp {{ user.src }}/mikar/awmtt/awmtt /usr/local/bin/awmtt

- name: Fix awmtt permissions
  sudo: True
  file: path=/usr/local/bin/awmtt mode=0755

- name: Install configs
  template: src="awesome_{{ item }}" dest="{{ user.xdgconfig }}/awesome/{{ item }}"
  with_items:
    - rc.lua
    - layout.lua
    - menu.lua
    - bindings.lua
    - rules.lua
    - variables.lua
