- name: Install packages
  sudo: True
  apt: pkg={{ item }} state=present
  with_items:
      - "weechat"
      - "weechat-plugins"

- name: Weechat configuration
  template: src=weechat_{{ item }}.conf dest="{{ user.home }}/.weechat/{{ item }}.conf"
  with_items:
      - irc
      - plugins

- name: Install Lua Plugins
  copy: src=weechat_plugin_{{ item }} dest="{{ user.home }}/.weechat/lua/{{ item }}" mode=0655
  with_items:
      - naughtynotice.lua

- name: Enable Lua Plugins
  file: dest="{{ user.home }}/.weechat/lua/autoload/{{ item }}" src="{{ user.home }}/.weechat/lua/{{ item }}" state=link force=yes
  with_items:
      - naughtynotice.lua

#- name: Disable Lua Plugins
#  file: dest="{{ user.home }}/.weechat/lua/autoload/{{ item }}" src="{{ user.home }}/.weechat/lua/{{ item }}" state=absent
#  with_items:
#      - lnotify.py

- name: Icon directory
  sudo: True
  file: path=/usr/local/share/icons state=directory

- name: Install icon
  sudo: True
  copy: src=irc_protocol.png dest=/usr/local/share/icons/irc_protocol.png mode=0655
