user: 
    name: daniel
    fullname: Daniel Leech
    nick: dantleech
    email: daniel@dantleech.com
    home: /home/daniel
    src: /home/daniel/www
    xdgconfig: /home/daniel/.config
    mail:
        accounts:
            dantleech:
                user: foo
                imap: foo
                smtp: foo
            lists:
                user: foo
                imap: foo
                smtp: foo
        basedir: /home/daniel/Mail
        primaryaccount: dantleech
        boxes:
            - "dantleech/INBOX"
            - "dantleech/INBOX.PHPCR"
            - "dantleech/INBOX.CMF"
            - "dantleech/INBOX.Sulu"
            - "dantleech/INBOX.YProximite"
            - "dantleech/INBOX.Jackalope" 
            - "dantleech/INBOX.php-fig" 
            - "dantleech/INBOX.Twitter"
            - "lists/INBOX"
    weechat:
        freenode:
            autojoin:
                - symfony-cmf
                - symfony
                - sylius
                - boltcms
                - hoaproject
     
    mutt:
        aliases: ~/ownCloud/System/mutt/aliases
    github:
        email: dan@localhost

server:
    ssl_fingerprint: FF:FF:FF:FF:FF:FF:FF:FF:FF:FF:FF:FF:FF:FF:FF:FF:FF:FF:FF:FF
