- name: Assert directories exist
  file: path="{{ item }}" state=directory
  with_items:
      - "{{ user.home }}/www"

- include: php.yml tags=php
- include: docs.yml tags=docs
- include: tools.yml tags=tools
- include: ruby.yml tags=ruby
- include: etc.yml tags=etc
- include: varnish.yml tags=varnish
- include: nginx.yml tags=nginx
- include: jackrabbit.yml tags=jackrabbit
