- name: Install packages
  sudo: True
  apt: pkg={{ item }} state=present
  with_items:
      - "ctags"
      - "git"

- name: Dotfiles
  template: src={{ item }} dest="~/.{{ item }}"
  with_items:
      - ctags
      - gitignoreglobal

- name: Set git global ignore
  command: git config --global core.excludesfile ~/.gitignoreglobal
