- name: Install packages
  sudo: True
  apt: pkg={{ item }} state=present
  with_items:
      - "php5"
      - "php5-xdebug"
      - "php5-gd"
      - "php5-readline"
      - "php5-sqlite"
      - "php5-mysql"

- name: Install apache config
  sudo: True
  template: src=php.ini dest=/etc/php5/apache2/php.ini mode=0644

- name: Install cli config
  sudo: True
  template: src=php.ini dest=/etc/php5/cli/php.ini mode=0644

- name: Install Xdebug config
  sudo: True
  template: src=php_xdebug.ini dest=/etc/php5/apache2/conf.d/20-xdebug.ini
